<div id="custom-modal">
  <div id="custom-modal-overlay">
    <div class="custom-modal-content">
      <div class="custom-modal-title">
        <div ng-repeat="data in title">{{data}}</div>
      </div>
      <div>{{content}}</div>
    </div>
      <input type="button" class="btn btn-warning btn-lg custom-modal-ok"
        ng-click="close(0)" value="확인">
      <input type="button" class="btn btn-danger btn-lg custom-modal-no"
        ng-click="close(1)" value="취소">
  </div>
  <div id="custom-fade"></div>
</div>
