<div id="custom-modal">
  <div id="custom-modal-overlay">
    <div class="custom-modal-content">
      <div class="custom-modal-title">
        <div ng-repeat="data in title">{{data}}</div>
      </div>
      <div>{{content}}</div>
    </div>
      <input type="button" class="btn btn-warning btn-md custom-modal-ok"
        ng-click="close()" value="확인">
  </div>
  <div id="custom-fade"></div>
</div>
