<h5 id="headerBar"></h5>
<h5 id="BlackBar"></h5>
<nav class="header-nav">
    <li><a class="active" ng-click="logout()">Logout</a></li>
    <li><a href="">설정</a></li>
    <li><a href="">공지사항</a></li>
    <li><a href="#board">게시판</a></li>
</nav>
<hr style="margin:0;">

<h3>{{title}}</h3>
<p>{{content}}</p>
<hr>