<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: bisque">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight: bold">아이디/비밀번호 찾기</h4>
            </div>
            <div class="modal-body">
                <div>아이디 찾기</div>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon2" style="min-width: 100px;"> 이름 </span>
                <input type="text" class="form-control" placeholder="이름을 입력하거나 검색하세요" ng-model="emp_name">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon3" style="min-width: 100px;"> 연락처 </span>
                <input type="text" class="form-control" size="13" maxlength="13" placeholder="휴대전화번호를 입력하세요" ng-model="emp_hp" aria-describedby="basic-addon3">
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok_id()"><span class="glyphicon glyphicon-ok">찾기</span></button>
                <button class="btn btn-warning" type="button" ng-click="close()">취소</button>
                </div>
                <hr>
                <div>비밀번호 찾기</div>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon4" style="min-width: 100px;"> 아이디 </span>
                <input type="text" class="form-control" placeholder="아이디를 입력하거나 검색하세요" ng-model="emp_id">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="basic-addon5" style="min-width: 100px;"> 이메일 </span>
                <input type="text" class="form-control" placeholder="회원정보에 등록된 이메일을 입력하세요" ng-model="emp_email" aria-describedby="basic-addon3">
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok_pass()"><span class="glyphicon glyphicon-ok">발송</span></button>
                <button class="btn btn-warning" type="button" ng-click="close()">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
