<div class="board-wrap">
    <header-bar title="title" content="content"></header-bar>

    <button type="button" class="btn btn-warning" ng-click="goWrite()">
        <i class="glyphicon glyphicon-plus"></i>
        글쓰기
    </button>

    <div class="ibox-content">
        <div class="table-responsive">
            <div style="display: none;"><textarea id="myClipboard"></textarea></div>
            <table class="table table-striped table-white w1000 table-style">
                <colgroup>
                    <col width="6%"/>
                    <col width="7%"/>
                    <col width="7%"/>
                    <col width="33%"/>
                    <col width="8%"/>
                    <col width="13%"/>
                    <col width="8%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox checkbox-single">
                            <input type="checkbox" id="cAll" ng-click="">
                            <label for="cAll"></label>
                        </div>
                    </th>
                    <th>번호</th>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="listData.length == 0"><td colspan="8">등록된 정보가 없습니다.</td></tr>
                <tr ng-repeat="list in boardList | pagination: (currPage-1) * perPage | limitTo: perPage" ng-click="delete(list.id)">
                    <td>
                        <div class="checkbox checkbox-single">
                            <input type="checkbox" id="check_0" name="check_" ng-checked="">
                            <label for="check_0"></label>
                        </div>
                    </td>
                    <td>
                        {{no - $index}}
                    </td>
                    <td>
                        {{no - $index}}
                    </td>
                    <td>
                        <span class="text-break ng-binding" style="max-width: 220px">{{list.title}}</span>
                    </td>
                    <td>
                        {{list.author}}
                    </td>
                    <td>
                        {{list.makeDate}}
                    </td>
                    <td>
                        {{list.hits}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul uib-pagination total-items="brdLength" ng-model="currPage"
            max-size="10" class="pagination-sm page-margin" boundary-link-numbers="true"></ul>
    </div>
    <hr>
</div>
