<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Post</h1>
    <p th:text="'title: ' + ${board.title}" />
    <p th:text="'content: ' + ${board.content}" />
    <a href="/board/new">새글 작성하기</a>
</div>