<link rel="stylesheet" href="css/join.css">
<div class="employee-wrap">
    <div class="logo-box">
        <h3>회원가입</h3>
    </div>
    <div class="employee-box">
        <form novalidate name="joinForm">
            <div class="employee-row">
                <label for="memberData.userId" class="row-text">아이디</label>
                <span class="pattern-error" ng-if="idError == 1">아이디를 작성해주세요.</span>
                <span class="pattern-error" ng-if="idError == 2">아이디 형식에 맞게 작성해주세요.</span>
                <div class="row-text-notice">아이디는 5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용해 주세요.</div>
                <input
                        type="text"
                        class="employee-form"
                        ng-model="memberData.userId"
                        id="memberData.userId"
                        placeholder="아이디."
                        id-validation="idError"
                        ng-blur="idCheck()">
            </div>
            <div class="employee-row">
                <label for="pw" class="row-text">비밀번호</label>
                <span class="pattern-error" ng-if="pwError == 1">비밀번호를 작성해주세요.</span>
                <span class="pattern-error" ng-if="pwError == 3">비밀번호 형식이 틀립니다.</span>
                <div class="row-text-notice">비밀번호는 최소 4글자 이상 설정해주세요.</div>
                <div class="row-text-notice">비밀번호 변경을 원치 않으시면, 본 비밀번호를 입력해주세요.</div>
                <input
                        type="password"
                        class="employee-form"
                        ng-model="pw"
                        id="pw"
                        placeholder="비밀번호를 작성해주세요"
                        password-validation="pwError">
            </div>
            <div class="employee-row">
                <label for="userPwConfirm" class="row-text">비밀번호확인</label>
                <span class="pattern-error" ng-if="pwConfirmError == 1">비밀번호 확인을 작성해주세요.</span>
                <span class="pattern-error" ng-if="pwConfirmError == 5">비밀번호가 일치하지 않습니다.</span>
                <input
                        type="password"
                        class="employee-form"
                        ng-model="userPwConfirm"
                        id="userPwConfirm"
                        placeholder="비밀번호확인"
                        confirm-validation="pwConfirmError"
                        confirm-validation-src="pw">
            </div>
            <div class="employee-row">
                <label for="memberData.userName" class="row-text">이름</label>
                <span class="pattern-error" ng-if="nameError == 1">이름를 작성해주세요.</span>
                <span class="pattern-error" ng-if="nameError == 4">이름을 형식에 맞게 작성해주세요.</span>
                <div class="row-text-notice">이름은 20글자 이내로 작성해주세요.</div>
                <input
                        type="text"
                        class="employee-form"
                        ng-model="memberData.userName"
                        id="memberData.userName"
                        placeholder="이름"
                        name-validation="nameError">
            </div>
            <div class="employee-row">
                <label for="memberData.userEmail" class="row-text">이메일</label>
                <span class="pattern-error" ng-if="emailError == 1">이메일을 작성해주세요.</span>
                <span class="pattern-error" ng-if="emailError == 2">이메일을 형식에 맞게 작성해주세요.</span>
                <input
                        type="text"
                        class="employee-form"
                        ng-model="memberData.userEmail"
                        id="memberData.userEmail"
                        placeholder="이메일"
                        email-validation="emailError">
            </div>
            <div class="employee-row">
                <label for="memberData.userPhone" class="row-text">휴대전화번호</label>
                <span class="pattern-error" ng-if="phoneError == 1">휴대폰 번호를 작성해주세요.</span>
                <span class="pattern-error" ng-if="phoneError == 2">휴대폰 번호를 형식에 맞게 작성해주세요.</span>
                <input
                        type="text"
                        class="employee-form"
                        ng-model="memberData.userPhone"
                        id="memberData.userPhone"
                        placeholder="휴대전화번호"
                        phone-validation="phoneError">
            </div>
            <div class="employee-row">
                <label for="memberData.userTell" class="row-text" translate>연락처</label>
                <span class="pattern-error" ng-if="homeError == 1">연락처를 작성해주세요.</span>
                <span class="pattern-error" ng-if="homeError == 2">연락처를 형식에 맞게 작성해주세요.</span>
                <input
                        type="text"
                        class="employee-form"
                        ng-model="memberData.userTell"
                        id="memberData.userTell"
                        placeholder="연락처"
                        home-validation="homeError">
            </div>
            <div class="button-row">
                <input class="employee-btn employee-btn-submit" type="button" value="둥록" ng-click="submit()" ng-disabled="joinForm.$invalid">
                <input class="employee-btn employee-btn-cancel" type="button" value="취소" ng-click="goback()">
            </div>
        </form>
    </div>
</div>
