<div class="login-wrap">
    <div class="container">
        <div class="login-form">
            <h1>Member Login</h1>
            <form name="loginForm" ng-submit="doLogin()" novalidate>
                <input type="text" name="username" placeholder="ID" ng-model="login.userId" required/>
                <input type="password" name="password" ng-model="pw" placeholder="PASSWORD" required/>
                <button class="login-btn" ng-disabled="loginForm.$invalid">Login</button>
            </form>
            <div class="login-alert" ng-switch on="alert">
            <span ng-switch-when="0">* 아이디와 비밀번호가 일치하지 않습니다.</span>
            <span ng-switch-when="1">* 서버에 연결할 수 없습니다.</span>
            <span ng-switch-when="2">* 서버 오류. 담당자에게 연락바랍니다.</span>
            </div>
            <ul>
                <li ng-click="findIdPw()">Forgot ID/PW?</li>
                <li ng-click="goJoin()">Join</li>
            </ul>
        </div>
    </div>
</div>
