<div class="board-wrap">
    <header-bar title="title" content="content"></header-bar>

    <form class="write-form" ng-submit="submitForm()">
        <div >
            <div class="write-value">
                제목
            </div>
            <div class="write-input">
                <input type="text" ng-model="boardData.title" />
            </div>
        </div>
        <div>
            <div class="write-value">
                작성자
            </div>
            <div class="write-input">
                <input type="text" ng-model="boardData.author" />
            </div>
        </div>
        <div>
            <div class="write-value">
                내용
            </div>
            <p>
                <textarea class="write-textarea" rows="10" cols="85" ng-model="boardData.content" />
            </p>
        </div>
        <p class="write-btn">
            <input type="submit" value="글쓰기" class="btn btn-lg custom-modal-ok"/>
            <input type="reset" value="다시 작성" class="btn btn-lg custom-modal-no"/>
        </p>
    </form>
</div>