.employee-wrap {
    font-size: 14px;
    background-color: #fff;
}

.logo-box {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.logo-box h3 {
  background-color: cadetblue;
  color: #fff;
  padding: 2%;
}

.employee-box {
  box-shadow: 2px 2px 2px 2px gray;
  margin: 0 auto;
  margin-top: 2%;
  padding: 2% 0;
  width: 45%;
}

.employee-box input {
    border: 1px solid lightgrey;
}

.employee-row {
  margin:0 auto;
  padding-bottom: 20px;
  width: 90%;
}

.button-row {
  margin:0 auto;
  padding-top: 20px;
  text-align: center;
  width: 90%;
}

.employee-form {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.employee-form[readonly] {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.row-text {
  color: #111;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  margin-bottom: 4px;
}

.row-text-notice {
  color: #aaa;
  font-size: 0.8em;
  margin-bottom: 4px;
}

.pattern-error {
  color: #FF4136;
  float: right;
  font-size: 0.9em;
}

.input-error {
  border-color: #FF4136;
}

.employee-btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
}

.employee-btn-submit,
.employee-btn-cancel {
  width:30%;
  background-color: #d05715;
  color: #fff;
}

.employee-btn-submit[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
}
