body {
    font-size: 18px;
    margin: 0;
}

.login-wrap {
    background-color:#f9ccb4;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10%;
}

.container {
    width: 50%;
    height: 85%;
    border-radius:4px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
    box-shadow: 0 10px 100px rgba(0, 0, 0, .3);
}


@media screen and (max-width: 1520px) {
    .login-form {
        padding: 20% 5%;
    }
}

@media screen and (min-width: 1521px) {
    .login-form {
        padding: 10% 5%;
    }
}

.login-form {
    /*padding: 10% 5%;*/
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}


.login-form h1 {
    font-size: 1.667em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 40px 0;
}
.login-form input {
    display: block;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-bottom: solid 1px #bfbfbf;
    transition :all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    color: #0e6252;
    margin-bottom: 45px;
    font-size: 1em;
}

.login-form input:focus,
.login-form input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.login-form input:focus {
    border-color: #d05715;
}

.login-form input::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login-form input:focus::-webkit-input-placeholder {
    color: #d05715;
    font-size: 0.778em;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible;
}


.login-btn {
    background-color: #d05715;
    border: 0;
    color: #fff;
    padding: 15px 55px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius:30px;
}
.login-btn:hover {}
.login-btn:focus {
    outline: none;
}

.login-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}
.login-form ul {
    margin: 0;
    padding: 35px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-form ul li {
    list-style-type: none;
    display: inline-block;
}

.login-form ul li:last-child {
    float: right;
}

.login-form ul li a {
    text-decoration: none;
    color: #d05715;
}

.error-text{
    margin:0;
    color: tomato;
    margin-top:-20px;
}

.login-alert {
    color: #e60012;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 10px;
}

/* board */
.board-wrap {
    padding: 2%;
    background-color: #fff;
}

.table-wrap {
    background-color: wheat;
    margin-top: 2%;
}

#headerBar {
    height: 10px;
    background-color: #007889;
    color: #007889;
    margin: 0;
}

#BlackBar {
    height: 10px;
    background-color: #007889;
    color: #007889;
    margin: 0;
}

.board-wrap h2 {
    color: #007889;
    text-align: right;
}

.board-wrap h3 {
    font-size: 40px;
    font-weight: bold;
    color: #007889;
}

.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-nav li {
    float: right;
}

.header-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.header-nav li a:hover {
    background-color: #D3D3D3;
    color:  #007889;
}

.table-style {
    background-color: mistyrose;
    margin-top: 2%;
}

/* custom modal */
#custom-modal-overlay {
    position: fixed;
    left: 35%;
    top: 40%;
    padding: 25px;
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
    height: 20%;
    z-index: 100;
    text-align: center;
}

#custom-modal.ng-enter {
    opacity: 0;
}

#custom-modal.ng-enter.ng-enter-active {
    opacity: 1;
}

#custom-modal.ng-leave {
    opacity: 1;
}

#custom-modal.ng-leave.ng-leave-active {
    opacity: 0;
}

#custom-fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    display: block;
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 90;
    left: 0%;
    top: 0%;
    opacity: .6;
}

.custom-modal-ok {
    margin: 5px;
    background-color: lightcoral;
}

.custom-modal-no {
    margin: 5px;
}

.custom-modal-content {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.custom-modal-title {
    margin-bottom: 10px;
    font-size: 13pt;
    font-weight: bolder;
    color: #DB0000;
}

.write-form {
    width: 64%;
    height: 100%;
    margin: 0 16%;
    padding: 2%;
    background-color: antiquewhite;
}

.write-value {
    width: 20%;
    font-weight: bold;
    font-size: 15px;
    float: left;
}

.write-input {
    width: 80%;
    float: left;
    margin-bottom: 3%;
}

.write-input input {
    width: 100%;
}

.write-btn {
    text-align: center;
}

.btn-submit {
    background-color: mediumpurple;
}

.btn-reset {
    background-color: palevioletred;
}

.page-margin {
    margin: 0 42%;
}

.write-textarea {
    width: 100%;
    margin-top: 10px;
}